data/enmap_cdl
data/hyperview_1
data/hyperview_2
data/enmap_bnetd
data/enmap_bdforet

configs/run_training_enmap_cdl.sh
configs/run_training_hyperview_1.sh

auxiliary

outputs

src/ckpt
tm
__pycache__/
experiment_logs
mlflow.db
hyperview_1.yaml
config.yaml
config_deploy.yaml
.gitignore